.panel.panel-default{data: {request_id: audits.request_uuid}}
  .panel-heading
    %h4.row
      .col-sm-4
        = l audits.created_at, format: :long
      .col-sm-8
        - if user = User.find_by_id(audits.user_id)
          %a{href: url_for(user_id: audits.user_id, start_date: @start_date, end_date: @end_date, search_term: @search_term)}
            = user.name
  .panel-body
    %h5.row
      .col-sm-1
        = _('Action')
      .col-sm-4
        = _('Entity')
      .col-sm-7
        .row
          .col-sm-4.text-right
            = _('Changes')
          .col-sm-8
    - audits.rows.each do |row|
      %hr
      .row{data: {id: row['id']}}
        .col-sm-1
          = row['action']
        .col-sm-4
          = render partial: 'auditable_entity', locals: { row: row }
        .col-sm-7
          = render partial: 'changes', locals: { row: row }
