- content_for :title, _("Groups")
- content_for :manage_section, "active"

.wrapper.margin-top-m

  = render :partial => 'manage/tabs/manage', :locals => {:active_tab => :user_groups}

  .row.content-wrapper.min-height-xl.min-width-full.straight-top

    .margin-top-l.padding-horizontal-m

      .row

        %h1.headline-l.float-left= yield :title

      .row

        - inventory_pool_id = params[:inventory_pool_id]
        - link = "/admin/inventory-pools/#{inventory_pool_id}/groups/"

        %p

          %a{href: "/admin/inventory-pools/#{inventory_pool_id}/groups/"}
            Manage user roles via Groups.


        %p
          A Group contains several users. These users can gain a role by assigning the role to their Group.

        %p
          To allocate models to users use the
          %a{href: "/manage/#{inventory_pool_id}/groups"}
            Entitlement-Groups.

