- return if current_inventory_pool # NOTE: don't know if important, but was in the form before

.row
  .col-sm-6
    %h1= @supplier.name || _("Create %s") % _("Supplier")

  .col-sm-6.text-right
    = link_to _('Cancel'), :back, class: 'btn btn-default'
    %button.btn.btn-success{:type => :submit}= _("Save")

.row.form-horizontal

  .col-sm-6

    %h2= _("Basic Information")

    .form-group
      .col-sm-4
        %strong= "#{_("Name")} *"
      .col-sm-8
        %input.form-control{type: "text", name: "supplier[name]", value: @supplier.name}

    .form-group
      .col-sm-4
        %strong= _("Note")
      .col-sm-8
        %textarea.form-control{type: "text", rows: 20, name: "supplier[note]"}
          = @supplier.note

  .col-sm-6

    = render partial: "items_from_pools"
