- if @items
  %h2= _("Items")

  - @items.each do |pool, items|
    %details{open: true}
      %summary.h4
        = pool
        = "(#{items.length})"
      %div
        - items.each do |i|
          .row
            .col-sm-4
              = i.inventory_code
            .col-sm-8
              = i.model
