- show_link = admin.supplier_path(supplier)

.row

  .col-sm-6
    %a.link-unstyled{href: show_link}
      %strong= supplier.name

  .col-sm-4
    %a.link-unstyled{href: show_link}
      = _("%s items") % supplier.items.count

  .col-sm-2.text-right.line-actions

    %a.btn.btn-default{href: show_link}
      = _("Details")

    - if supplier.can_destroy?
      .btn-group
        %a.btn.btn-default{href: admin.edit_supplier_path(supplier)}
          = _("Edit")
        %button.btn.btn-default.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
          %i.caret
        %ul.dropdown-menu
          %li.bg-danger
            %a.red{href: admin.supplier_path(supplier), data: {method: :delete, confirm: _("Are you sure you want to delete '%s'?") % supplier}}
              %i.fa.fa-trash
              = _("Delete")

    - else

      %a.btn.btn-default{href: admin.edit_supplier_path(supplier)}
        = _("Edit")
