- content_for :title, @supplier.name
- content_for :admin_section, "active"

= form_tag admin.supplier_path(@supplier), method: :put do

  .row
    .col-sm-6
      %h1= @supplier.name || _("Create %s") % _("Supplier")

    .col-sm-6.text-right
      = link_to _('Edit'), admin.edit_supplier_path(@supplier), class: 'btn btn-default'

  .row.form-horizontal

    .col-sm-6

      %h2= _("Basic Information")

      .form-group
        .col-sm-4
          %strong= "#{_("Name")} *"
        .col-sm-8
          = @supplier.name

      .form-group
        .col-sm-4
          %strong= _("Note")
        .col-sm-8
          - if @supplier.note.present?
            %p.keep-linebreaks= linkify_text(@supplier.note)
          - else
            %i= _("N/A")

    .col-sm-6

      = render partial: "items_from_pools"
