- if row['auditable_id']
  %b= "#{_ row['auditable_type']}"
  %br
  %a{href: url_for(type: row['auditable_type'].underscore, id: row['auditable_id'])}
    :ruby
      klass = begin
                row['auditable_type'].constantize
              rescue
                nil
              end
    - if klass
      - if klass == Setting
        = Setting.first.label_for_audits
      - else entity = klass.find_by_id(row['auditable_id'])
        = "#{entity.label_for_audits}"
      %br
  %small= row['auditable_id']
- else
  %b= "#{_ row['auditable_type']}"

- if row['associated_id']
  = "#{_ row['associated_type']}"
  %br
  %a{href: url_for(type: row['associated_type'].underscore, id: row['associated_id'])}
    :ruby
      assoc_klass = begin
                      row['auditable_type'].constantize
                    rescue
                      nil
                    end
    - if assoc_klass
      - if assoc_klass == Setting
        = Setting.first.label_for_audits
      - else assoc_entity = assoc_klass.find_by_id(row['associated_id'])
        = "#{_ row['associated_type']}: #{assoc_entity.label_for_audits}"
      %br
  %small= row['associated_id']
- else
  = "#{_ row['associated_type']}"
