.row
  .col-sm-6
    %h2= @room.name || _("Create %s") % _("Room")

  .col-sm-6.text-right
    = link_to _('Cancel'), :back, class: 'btn btn-default'
    %button.btn.btn-success{:type => :submit}= _("Save")

.row
  .col-sm-6

    %h3= _("Basic Information")

    .row
      .col-sm-6
        %strong= "#{_("Name")} *"
      .col-sm-6.text-right
        %input{type: "text", name: "room[name]", value: @room.name}

    .row
      .col-sm-4
        %strong= "#{_("Description")}"
      .col-sm-8.text-right
        %input{style: "width: 100%", type: "text", name: "room[description]", value: @room.description}

    .row
      .col-sm-6
        %strong= "#{_("Building")} *"
      .col-sm-6.text-right
        = select_tag "room[building_id]",
          options_from_collection_for_select(@buildings, :id, :to_s, @room.try(:building).try(:id)),
          disabled: @room.general?
