.row{class: ('text-warning' if room.general), data: { id: room.id }}
  .col-sm-3
    %strong= room.name

  .col-sm-3
    = room.building.name

  .col-sm-2
    = _('general') if room.general

  .col-sm-2
    = _("%s items") % room.items.count

  .col-sm-2.text-right.line-actions

    - if room.can_destroy? and not room.general?
      .btn-group
        %a.btn.btn-default{href: admin.edit_room_path(room)}
          = _("Edit")
        %button.btn.btn-default.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
          %i.caret
        %ul.dropdown-menu
          %li.bg-danger
            %a{href: admin.room_path(room), data: {method: :delete, confirm: _("Are you sure you want to delete '%s'?") % room.name}}
              %i.fa.fa-trash
              = _("Delete")

    - else

      %a.btn.btn-default{href: admin.edit_room_path(room)}
        = _("Edit")
