.row{data: {id: building.id}, class: ('text-warning' if building.id == Leihs::Constants::GENERAL_BUILDING_UUID)}
  .col-sm-3
    %strong= building.name

  .col-sm-1
    = building.code

  .col-sm-2.text-center
    = _('general') if building == Building.general

  .col-sm-2
    = _("%s rooms") % building.rooms.count

  .col-sm-2
    = _("%s items") % building.items.count

  .col-sm-2.text-right.line-actions

    - if building.can_destroy?
      .btn-group
        %a.btn.btn-default{href: admin.edit_building_path(building)}
          = _("Edit")
        %button.btn.btn-default.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
          %i.caret
        %ul.dropdown-menu
          %li.bg-danger
            %a{href: admin.building_path(building), data: {method: :delete, confirm: _("Are you sure you want to delete '%s'?") % building}}
              %i.fa.fa-trash
              = _("Delete")

    - else

      %a.btn.btn-default{href: admin.edit_building_path(building)}
        = _("Edit")
