.row
  .col-sm-6
    %h2= @building.name || _("Create %s") % _("Building")

  .col-sm-6.text-right
    = link_to _('Cancel'), :back, class: 'btn btn-default'
    %button.btn.btn-success{:type => :submit}= _("Save")

.row
  .col-sm-6

    %h3= _("Basic Information")

    .row
      .col-sm-6
        %strong= "#{_("Name")} *"
      .col-sm-6.text-right
        - if current_inventory_pool
          %h3= @building.name
        - else
          %input{type: "text", name: "building[name]", value: @building.name}

    .row
      .col-sm-6
        %strong= "#{_("Code")}"
      .col-sm-6.text-right
        - if current_inventory_pool
          %h3= @building.code
        - else
          %input{type: "text", name: "building[code]", value: @building.code}
