- content_for :title, _("Mail Templates")
- content_for :manage_section, "active"

.wrapper.margin-top-m

  = render :partial => 'manage/tabs/manage', :locals => {:active_tab => :mail_templates}

  .row.content-wrapper.min-height-xl.min-width-full.straight-top

    .list-of-lines

      - @template_types.each do |name, type|
        .row.line
          .line-col.col2of5
            = name
          .line-col.col1of5.text-align-left
            = type
          .line-col.col2of5
            :ruby
              path = "/manage/#{current_inventory_pool.id}/mail_templates/#{type}/#{name}"
            %a.button.small.white{href: path}
              = _("Edit")
