- releases = @get.try(:[], :releases) || []
- deploy_info = @get.try(:[], :deploy_info) || {}

- if releases.present?
  - current_release = releases.first
  - older_releases = releases.drop(1)

- is_a_tagged_release = deploy_info[:is_a_tagged_release]
- commit_messages = deploy_info[:commit_messages]
- git_commit = deploy_info[:commit_id] || @get.try(:[], :version_name)
- git_commit_date = deploy_info[:commit_date]
- git_link = deploy_info[:commit_link].presence || @get.try(:[], :git_url)

- gh_icon = capture_haml do
  .fa.fa-github.grey{title: _('View on GitHub'), style: 'font-size: 0.8em'}

.wrapper

  .content-wrapper.margin-top-l.margin-bottom-l.row

    .row.padding-inset-l

      %h2.headline-xxl.margin-bottom-m= _('Release Info')

      - if deploy_info.present?
        .paragraph-s.margin-bottom-m
          %em
            %a.straight-dark-grey{href: deploy_info[:tree_link]}
              = _('Deploy:')
              %time{'data-humanize-date': deploy_info[:time]}= deploy_info[:time]


      - if !is_a_tagged_release
        %pre.emboss.padding-inset-s.margin-bottom-l.margin-top-m.paragraph-m{style: 'background: papayawhip; border: 2px solid coral;line-height: 1.2;font-size: 1.2em;font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;'}
          %p.straight-dark-grey.headline-l.margin-top-s{href: '#'}= _('Development Version!')

          .git-commit
            - if git_commit
              %a.blue{href: git_link}= _('Commit: ') + git_commit
            - if git_commit_date
              = "Date: #{git_commit_date.as_json}"

          - if commit_messages.present?
            = _('Changes since last release:') + "\n\n"
            .commit-messages
              = commit_messages


      - if releases.present?
        .margin-bottom-m
          .grey-text.margin-bottom-s= _('Current Release')
          %h2.headline-xxl.margin-bottom-s.headline-with-anchor-link{id: current_release[:semver]}
            = current_release[:name]
            %a{href: current_release[:link]}= gh_icon
          .paragraph-m= current_release[:description]

        .grey-text.margin-bottom-s= _('Previous Releases')

        - older_releases.map do |r|
          .margin-bottom-m
            %h3.headline-xl.margin-bottom-s{id: r[:semver]}
              = r[:name]
              %a{href: r[:link]}= gh_icon
            .paragraph-s= r[:description]


        - if @get[:history].present?
          %a.headline-s{href: @get[:history]}= _('→ Older Releases')
