%h1= _('Settings')

= form_tag settings_path, remote: true do
  %table.table.table-striped
    %thead
      %tr
        %th= _('Key')
        %th= _('Value')
    %tbody
      %tr
        %td
          %label{for: 'settings_contact_url'}= 'contact_url'
        %td
          %input.form-control{name: 'settings[contact_url]', id: 'settings_contact_url', value: @settings['contact_url'], placeholder: _('Value'), autocomplete: :off, required: true}

      %tr
        - text = @settings['inspection_comments'].join("\n\n")
        %td
          %label{for: 'settings_inspection_comments'}= 'inspection_comments'
        %td
          %textarea.form-control{name: 'settings[inspection_comments]', id: 'settings_inspection_comments',
          rows: (text.split("\n").length + 1), placeholder: _('Values'), autocomplete: :off}
            = text
          %span.help-block= _('1 value per line')

    %tfoot
      %tr
        %td.text-right{colspan: 2}
          %button.btn.btn-success{type: :submit}
            %i.fa.fa-check
            = _('Save')
      %tr
        %td{colspan: 2}
          = render partial: 'layouts/procurement/flash', :locals => {:flash => flash}

:coffeescript
  $(document).ready ->
    $(".datepicker").datepicker({
      dateFormat: i18n.datepicker.L
    })

    $("form").on("ajax:success", (e, data, status, xhr) ->
      location.reload()
    ).on "ajax:error", (e, xhr, status, error) ->
      errors = ''
      for error in (xhr.responseJSON || ['Error!'])
        errors += '<li>' + error + '</li>'
      el = $(".flash")
      el.html('<ul class="alert alert-danger" style="padding-left: 2em;">' + errors + '</ul>').show()
      $('html, body').animate({
        scrollTop: el.offset().top - 100
      }, 200)

    $('form').on 'change', ->
      $('.flash').hide()
