- content_for :title, _("Settings")
- content_for :manage_section, "active"

= form_for @settings, :as => :setting, :url => admin.settings_path, :method => :put, :html => { class: "form-horizontal", name: "form" } do |f|

  .row
    .col-sm-4
      %h1= yield :title

    .col-sm-8.text-right
      %button.btn.btn-success{:type => :submit}= _("Save %s") % _("Settings")

  .alert.alert-warning{role: "alert"}
    = _("A change of the highlighted attributes requires a restart of the legacy service.")

  - Hash[@settings.attributes.select{ |k, v| not ["updated_at", "created_at"].include? k}.sort].each_pair do |k,v|
    - next if k == "id"
    .row.form-group
      %div{class: "col-sm-4#{' alert alert-warning' if Setting::SERVICE_RESTART_ATTRIBUTES.include? k}"}
        = f.label k, k.to_s
      .col-sm-8
        - if k == "time_zone"
          = f.time_zone_select k
        - elsif k == "local_currency_string"
          - all_currencies = Money::Currency.all.map(&:iso_code).uniq.sort
          = f.select k, all_currencies
        - else
          - case Setting.columns_hash[k].type
            - when :string
              = f.text_field k, :class => "form-control"
            - when :text
              = f.text_area k, rows: 8, :class => "form-control"
            - when :integer
              = f.number_field k, :class => "form-control"
            - when :boolean
              = f.check_box k, :class => "form-control"
