- content_for :title, _("Settings")
- content_for :manage_section, "active"

= form_for @settings, :as => :setting, :url => admin.settings_path, :method => :put, :html => { class: "form-horizontal", name: "form" } do |f|

  .row
    .col-sm-4
      %h1= yield :title

    .col-sm-8.text-right{style: "margin-top: 20px"}
      %button.btn.btn-success{:type => :submit}= _("Save %s") % _("Settings")

  .alert.alert-warning{role: "alert"}
    = _("The readonly attributes are managed through settings.yml file. More information is ")
    %span
      %a{href: "https://github.com/leihs/leihs/wiki/Deployment"}= _("here")
      = "."

  - Hash[@settings.attributes.select{ |k, v| not ["updated_at", "created_at"].include? k}.sort].each_pair do |k,v|
    - next if k == "id"
    - disabled = Setting.attr_readonly?(k)
    .row.form-group
      .col-sm-4
        = f.label k, k.to_s, style: "margin-bottom: 0px", class: (disabled and "text-muted")
      .col-sm-8
        - if k == "time_zone"
          = f.time_zone_select k, nil, {}, disabled: disabled
        - elsif k == "local_currency_string"
          - all_currencies = Money::Currency.all.map(&:iso_code).uniq.sort
          = f.select k, all_currencies, {}, disabled: disabled
        - else
          - case Setting.columns_hash[k].type
            - when :string
              = f.text_field k, :class => "form-control", disabled: disabled
            - when :text
              = f.text_area k, rows: 8, :class => "form-control", disabled: disabled
            - when :integer
              = f.number_field k, :class => "form-control", disabled: disabled
            - when :boolean
              = f.check_box k, :class => "form-control", disabled: disabled
