- content_for :title, _("Mail Templates")
- content_for :manage_section, "active"

%h1= yield :title

.alert.alert-warning{role: "alert"}
  = _("These mail templates are copied for a new inventory pool when it is created.")

%table.table.table-striped.container

  - @template_templates.each do |name, type|
    %tr
      %td
        = name
      %td
        = type
      %td.text-right
        :ruby
          path = "/admin/mail_templates/#{type}/#{name}"
        %a.btn.btn-default{href: path}
          = _("Edit")
