- content_for :title, _("Fields")
- content_for :manage_section, "active"

= form_tag admin.batch_update_fields_path do
  .panel
    .row
      .col-sm-6
        %h1= yield :title
      .col-sm-6.text-right{style: 'margin-top: 20px'}
        %button.btn.btn-success{type: :submit}= _("Update")

  - @grouped_fields.each_pair do |group_name, fields|
    .panel.panel-default
      .panel-heading
        %h4= group_name
      .panel-body
        - if group_name.blank?
          #append_here
        .list-of-lines
          - fields.each do |field|
            .row{style: 'word-break: break-word; padding-top: 15px; padding-bottom: 15px'}
              .col-sm-4
                %strong
                  = field.id
                  - if field.data['required']
                    = " *"
                %br
                %input{name: "fields[#{field.id}][active]", type: :hidden, value: 0, disabled: field.data['required']}
                %input{type: :checkbox, name: "fields[#{field.id}][active]", value: 1, checked: field.active?, disabled: field.data['required'] }
                = _("Active")
              .col-sm-8
                = field.data.to_json
