%ul.nav.nav-tabs{style: 'margin-bottom: 1em;'}
  %li{role: 'presentation', class: params[:controller] == 'leihs_admin/inventory_pools' ? 'active' : nil}
    %a{:href => admin.inventory_pools_path}
      = _('Inventory Pools')

  %li{role: 'presentation', class: params[:controller] == 'leihs_admin/users' ? 'active' : nil}
    %a{:href => admin.users_path}
      = _('Users')

  %li{role: 'presentation', class: params[:controller] == 'leihs_admin/suppliers' ? 'active' : nil}
    %a{:href => admin.suppliers_path}
      = _('Suppliers')

  %li{role: 'presentation', class: params[:controller] == 'leihs_admin/buildings' ? 'active' : nil}
    %a{:href => admin.buildings_path}
      = _('Buildings')

  %li{role: 'presentation', class: params[:controller] == 'leihs_admin/rooms' ? 'active' : nil}
    %a{:href => admin.rooms_path}
      = _('Rooms')

  %li{role: 'presentation', class: params[:controller] == 'leihs_admin/settings' ? 'active' : nil}
    %a{:href => admin.settings_path}
      = _('Settings')

  %li{role: 'presentation', class: params[:controller] == 'leihs_admin/authentication_systems' ? 'active' : nil}
    %a{:href => admin.authentication_systems_path}
      = _('Authentication Systems')

  %li{role: 'presentation', class: params[:controller] == 'leihs_admin/fields_editor' ? 'active' : nil}
    %a{:href => admin.fields_editor_path}
      = _('Fields')

  %li{role: 'presentation', class: params[:controller] == 'leihs_admin/mail_templates' ? 'active' : nil}
    %a{:href => '/admin/mail_templates'}
      = _('Mail Templates')

  %li{role: 'presentation', class: params[:controller] == 'leihs_admin/statistics' ? 'active' : nil}
    %a{href: admin.statistics_path}
      = _('Statistics')

  %li{role: 'presentation', class: params[:controller] == 'leihs_admin/audits' ? 'active' : nil}
    %a{href: admin.audits_path}
      = _('Audits')

  %li{role: 'presentation', class: params[:controller] == 'leihs_admin/languages' ? 'active' : nil}
    %a{href: admin.languages_path}
      = _('Languages')

  -#%li{role: 'presentation'}
    %a{:href => '/admin/scenarios'}
      = _('Scenarios')
