.row.line.font-size-xs.focus-hover-thin{:"data-type" => "inline-entry"}

  %input{:type => :hidden, :name => "model[partitions_attributes][#{entry.id}][group_id]", :value => entry.entitlement_group.id}
  %input{:type => :hidden, :name => "model[partitions_attributes][#{entry.id}][id]", :value => entry.id}
  %input{:type => :hidden, :name => "model[partitions_attributes][#{entry.id}][_destroy]"}

  - if entry.quantity > entry.max_possible_unentitled_quantity
    .line-info.red

  %a.blue.line-col.col3of5.text-align-left{href: manage_edit_inventory_pool_group_path(current_inventory_pool, entry.entitlement_group), :"data-name" => entry.entitlement_group.name}
    = entry.entitlement_group.name

  .line-col.col1of5.text-align-center
    %input.width-xs.small.text-align-center{:type => :text, :name => "model[partitions_attributes][#{entry.id}][quantity]", :value => entry.quantity}

  .line-col.col1of5.text-align-right
    %button.button.small.inset{:"data-remove" => true, :type => :button}= _("Remove")
