.row.padding-inset-s.emboss.margin-bottom-xxs
  .col1of2
    %strong.font-size-m= _("Access as")
    - if ar = @access_right.try(:origin_table).presence
      %span= "(#{ar})"
  .col1of2.text-align-right
    - if @access_right.present? and @access_right[:origin_table] and ['mixed', 'group_access_rights'].include? @access_right[:origin_table]
      %span
        %a{href: "/admin/inventory-pools/#{@access_right.inventory_pool_id}/users/#{@access_right.user_id}"}
          = @access_right.role
    - else
      %select{type: "text", name: "access_right[role]"}
        - @accessible_roles.each do |name, key|
          %option{value: key, selected: ("selected" if (key == :no_access and not @access_right) or key == @access_right.try(:role))}= name


