:css
  label {font-weight: bold};

%h2.headline-m.padding-left-s= _("Login Details")

.row.margin-vertical-s

  .row.padding-inset-s.emboss.margin-bottom-xxs
    .col1of2
      %label.font-size-m{for: 'db-auth-password'}= "#{_("Password")} *"
    .col1of2.text-align-right
      %input#db-auth-password{type: "password", name: "db_auth[password]", value: "#{"_password_" if @db_auth}"}

  .row.padding-inset-s.emboss.margin-bottom-xxs
    .col1of2
      %label.font-size-m{for: 'db-auth-password-confirmation'}= "#{_("Password Confirmation")} *"
    .col1of2.text-align-right
      %input#db-auth-password-confirmation{type: "password", name: "db_auth[password_confirmation]", value: "#{"_password_" if @db_auth}"}
