:ruby
  product_name = 'leihs'
  documentation_link = app_settings.try(:documentation_link).try(:strip).presence
  active_language = Language.find_by_locale_name(I18n.locale)
  version_name = RELEASE_INFO.try(:[], :version_name)
  is_release = RELEASE_INFO.try(:[], :deploy_info).try(:[], :is_release) || false
  deploy_time = RELEASE_INFO.try(:[], :deploy_info).try(:[], :time)
  version_link = main_app.release_info_path + (is_release ? ('#' + version_name) : '')
  version_hint = "Version #{version_name} Deploy #{deploy_time}"

%footer.separated-top.emboss

  .wrapper.padding-top-m.padding-horizontal-s

    .col1of10.padding-top-xs.padding-left-xs
      - if documentation_link
        %a.headline-m.light{href: documentation_link}= product_name
      - else
        %span.headline-m.light= product_name

    .col9of10.padding-top-xs

      .padding-top-xxs
        .padding-top-xxs

          .col1of2
            %span.padding-top-s
              - unless controller_path =~ /^borrow/
                %a.dark-grey.padding-inset-s{href: version_link, title: version_hint}
                  = version_name

          .col1of2.text-align-right

            %i.fa.fa-globe.grey.margin-right-s
            - Language.active_languages.each do |language|
              - if language == active_language
                %a.dark-grey.padding-inset-s{:href => ""}
                  %strong= language.name
              - else
                %a.dark-grey.padding-inset-s{:href => @bread_crumbs ? @bread_crumbs.path_for(url_for(params.to_unsafe_hash.merge(:locale => language.locale_name))) : url_for(params.to_unsafe_hash.merge(:locale => language.locale_name))}= language.name
