:ruby
  procurement_access = (not current_user.delegation? and Procurement::Access.some_access?(current_user))
  what_to_display = [:borrow]
  if current_user.is_admin
    what_to_display.push :admin
  end
  if procurement_engine_present and procurement_access
    what_to_display.push :procurement
  end
  if current_user.has_role?(:group_manager)
    what_to_display.push :inventory_pools
  end

- if what_to_display.delete :borrow
  %a.dropdown-item{href: main_app.borrow_root_path}
    %i.fa.fa-shopping-cart
    %span= _('Borrow')
  - unless what_to_display.empty?
    %li.divider

- if what_to_display.delete :admin
  %a.dropdown-item{href: admin.root_path}
    %i.fa.fa-wrench
    %span= _('Admin')
  - unless what_to_display.empty?
    %li.divider

- if what_to_display.delete :procurement
  %a.dropdown-item{href: procurement.root_path}
    %i.fa.fa-pie-chart
    %span= _('Procurement')
  - unless what_to_display.empty?
    %li.divider

- if what_to_display.delete :inventory_pools
  .dropdown-item
    = succeed ':' do
      %i.fa.fa-gears
      = _('Inventory Pools')
    %ul#ip-dropdown-menu{style: 'padding-left: 1em'}
      - current_managed_inventory_pools.each do |ip|
        %li
          %a.dropdown-item.text-ellipsis{title: ip, href: main_app.manage_daily_view_path(ip)}= ip
