!!! 5
%html{:lang => I18n.locale}

  %head
    %title= strip_tags("#{yield(:title)}#{(yield :title).blank? ? "":" | "}leihs")
    = render :partial => "layouts/head"
    = stylesheet_link_tag "borrow", :media => "all"
    = javascript_include_tag "borrow"
    = render :partial => "borrow/global_javascript_injection"
    = render partial: "layouts/custom_head_tag"

  %body

    .main-wrapper

      .padding-bottom-l

        - if LEIHS_MOBILE_APP_ENABLED && LEIHS_MOBILE_APP_SHOW_NOTICE
          = render :partial => "borrow/mobile-app-notice"

        = render :partial => "flash", :locals => {:flash => flash} if flash

        %header= render :partial => "borrow/topbar"

        .row= yield

    = render :partial => "footer"
